################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BloodDonation/v17/.suo
/.vs/BloodDonation/DesignTimeBuild/.dtbcache.v2
/.vs/BloodDonation/FileContentIndex/061e9a8c-b3a4-4318-8374-bf7af9d846dd.vsidx
/.vs/BloodDonation/FileContentIndex/0d7110c0-2f30-4282-89fe-2bf6804c8b30.vsidx
/.vs/BloodDonation/FileContentIndex/14886f00-da4b-4690-b34b-65ae403f5620.vsidx
/.vs/BloodDonation/FileContentIndex/40c5bb98-e716-4150-87b1-39940327cf87.vsidx
/.vs/BloodDonation/FileContentIndex/8f5ff015-c45b-4238-8bdd-b89736c3af71.vsidx
/.vs/BloodDonation/FileContentIndex/b4584351-2227-4a48-80bf-7249f4e306fc.vsidx
/.vs/BloodDonation/FileContentIndex/e72bac90-d794-4fd8-87d5-6ae4a32ad4d7.vsidx
/.vs/BloodDonation/FileContentIndex/f79b49e6-26d8-4b94-9cc5-034a1421e530.vsidx
/.vs/BloodDonation/v17/DocumentLayout.json
/BloodDonation.Infrastructure/obj/BloodDonation.Infrastructure.csproj.nuget.dgspec.json
/BloodDonation.Infrastructure/obj/BloodDonation.Infrastructure.csproj.nuget.g.props
/BloodDonation.Infrastructure/obj/BloodDonation.Infrastructure.csproj.nuget.g.targets
/BloodDonation.Infrastructure/obj/Debug/net8.0/BloodDonation.Infrastructure.AssemblyInfo.cs
/BloodDonation.Infrastructure/obj/Debug/net8.0/BloodDonation.Infrastructure.AssemblyInfoInputs.cache
/BloodDonation.Infrastructure/obj/Debug/net8.0/BloodDonation.Infrastructure.assets.cache
/BloodDonation.Infrastructure/obj/Debug/net8.0/BloodDonation.Infrastructure.csproj.AssemblyReference.cache
/BloodDonation.Infrastructure/obj/project.assets.json
/BloodDonation.Infrastructure/obj/project.nuget.cache
/BloodDonation.Data/BloodDonation.Data.csproj
/BloodDonation.Data/obj/BloodDonation.Data.csproj.nuget.dgspec.json
/BloodDonation.Data/obj/BloodDonation.Data.csproj.nuget.g.props
/BloodDonation.Data/obj/BloodDonation.Data.csproj.nuget.g.targets
/BloodDonation.Data/obj/Debug/net8.0/BloodDonation.Data.AssemblyInfo.cs
/BloodDonation.Data/obj/Debug/net8.0/BloodDonation.Data.AssemblyInfoInputs.cache
/BloodDonation.Data/obj/Debug/net8.0/BloodDonation.Data.assets.cache
/BloodDonation.Data/obj/Debug/net8.0/BloodDonation.Data.csproj.AssemblyReference.cache
/BloodDonation.Data/obj/Debug/net8.0/BloodDonation.Data.csproj.CoreCompileInputs.cache
/BloodDonation.Data/obj/Debug/net8.0/BloodDonation.Data.csproj.FileListAbsolute.txt
/BloodDonation.Data/obj/Debug/net8.0/BloodDonation.Data.sourcelink.json
/BloodDonation.Data/obj/project.assets.json
/BloodDonation.Data/obj/project.nuget.cache
/BloodDonation.UI/obj/Debug/net8.0/BloodDonation.UI.AssemblyInfo.cs
/BloodDonation.UI/obj/Debug/net8.0/BloodDonation.UI.AssemblyInfoInputs.cache
